*{
    background-color: fff;
}

.post{
    color:#ff8c1a;
    text-align: center;
}

.view1{
    color: #009999;
    float:left;
    margin:10px 100px 10px 220px;
   
}
.view2{
    color: #009999;
    float:left;
    margin:10px 150px 10px 150px;
   
}
.view3{
    color: #009999;
    float:left;
    margin:10px 150px 10px 150px;
   
}

.newpost{
    background-color: fff;
}