*{
    background-color: fff;
}

.post{
    color:#ff8c1a;
    text-align: center;
}

.view1{
    color: #009999;
    float:left;
    margin:10px 100px 10px 220px;
   
}
.view2{
    color: #009999;
    float:left;
    margin:10px 150px 10px 150px;
   
}
.view3{
    color: #009999;
    float:left;
    margin:10px 150px 10px 150px;
   
}

.newpost{
    background-color: fff;
    
}

h3{
    color: #404040;
    margin-left: 5px;
}

.newpost button{
    margin-left: 5px;
}

.area{
    margin-left: 5px;
}

.allpost{
    margin:5px;
}

.stoic{
    margin:5px;
}

.nbtn button{
    background-color: white;
    color:000;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.addbtn{
    margin-top: 5px;
    margin-bottom: 5px;
}

.nbtn btn1{
    background-color: 000;
    color:fff;
}

.btn2{
    background-color: 000;
    color:fff;
}